.container_12
{
  background:#E1E8F0;
  position:relative;
  top:10px;
  }
  nav{
    background:#D3DFAA;
  }
  nav li{
    display:inline;
    margin-left:0;
    margin-right:3;
    }
    .ex
    {
      clear:both;
    }
    .ex li a{
      text-decoration: none;
      padding:3;
      font-size:15;
    font-family: 'Bree Serif', serif;
      padding-left:7;
    }
    ol li{
      margin:10px;
        font-family: 'Bree Serif', serif;

    }
    ol a{
  text-decoration: none;
        font-size: 17;
        color: indianred;
    }

      .grid_8{
        position:fixed;
      }
      .grid_8
      {
        position: relative;
        top:10px;
      }
      .primary
      {
        background:##e2dfe8;
        }
         header{
           background:#D3DFAA;
           position:fixed;
           z-index: 9999;
           margin:0px;
           }
           h1
           {
          font-family: 'Lobster Two', cursive;
          font-size:45;
           }
        footer
        {
        background:#D3DFAA;
        position:relative;
        top:10px;
        clear:both;
        }
        .grid_3 img{
          display:block;
        }
           .main{
             margin:30px 10px;
           }
           .fts
           {
             float:right;
           }
